:root {
    counter-reset: row-counter;
    --row: counter(row-counter)
}
#game {
    width:60%;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
    border: 2px solid black;
    position: relative;
    min-width: 540px;
    user-select: none;
}
#game-start {
    position: absolute;
    align-items: center;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(-30deg,rgb(30, 167, 11), rgb(0, 97, 5), rgb(0, 184, 92));
    font-weight: bold;
    
}
#game-board {
    width:100%;
    top: 0;
    left: 0;
    height: 100%;
    background: radial-gradient(rgb(54, 145, 81), black);
    position: absolute;
    
}
.game-row {
    counter-increment: row-counter;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.game-tile {
    box-sizing: border-box;
    margin: auto;
    height: 100%;
    border: 1px solid rgb(88, 88, 88);
    display: flex;
}
.snake-body{
    background-color: yellow;
    border: 1px solid orange;
}
.red-snake .snake-body {
    background-color: red;
}

.apple::after {
    content: '';
    background: radial-gradient(rgb(201, 0, 0), rgb(255, 81, 0));
    width: 90%;
    height: 90%;
    border-radius: 50%;
    margin: auto;
}
#current-points {
    display: flex;
    position: absolute;
    top: 90%;
    /* margin-bottom: 20rem; */
    width: 100%;
    justify-content: center;
    color: rgb(0, 206, 0);
    font-size: 1.5rem
}
.hide {
    visibility: hidden;
}
#game-options {
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    height: auto;
    width: 100%;
    display: block;
    /* margin: 2rem 0; */
}
#game-options input {
    margin: 0 auto;
    width: 5.6rem;
    text-align: end;
}
#game-options div {
    height: auto;

}
.settings {
    display: flex;
    width: 80%;
    flex-basis: 100%;
    margin: auto

}
.settings-text {
    display: flex;
    width: 15rem;
    text-align: center;
    justify-content: center;
    margin: 0.5rem 0;
}
#start-button {
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 5rem;
    background: linear-gradient(yellow, orange, rgb(196, 127, 0));
    border: 1px solid orange;
    border-radius: 40px;
    width: 60%;
    color: rgb(167, 0, 0);
    font-size: 3rem;
    cursor: pointer;
}
#score-holder {
    margin-top: 8rem;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.previous-scores {
    font-size: 2rem;
    margin: auto;
}
.center {
    height: 70%;
    margin: 15% 0;
}

#game-title {
    width: 60%;
    margin: 2rem auto 0.3rem auto;
    font-size: 1.3rem;
    text-decoration: underline;
}
#about-section {
    width: auto;
    ;
    max-width: 960px;

}
#about-section h2{
    width: 2px;
    margin: 0.4rem auto;
    border-bottom: 1px solid rgb(139, 139, 0);
}
#after-project {
    display: flex;
    margin: 1.5rem auto
}
#relevant-blogs {
    width: 300px;
    height: auto;
    max-height: 400px;
    overflow-x: auto;
    border: 1px solid gray;
    background-color: rgb(233, 233, 233);
}
#project-blogs {
    width: 280px;
}