header {
    position: relative;
    z-index: 1;
}
#blog-content header {
    
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background: linear-gradient(white, rgb(255, 255, 118));
}
#blog-content {
    position: relative;
    margin: 0 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    container-type: inline-size;
    container-name: content;
}
#blog-content header {
    font-size: 1.6rem;
}
#page-banner {
    width: 90%;
    margin: 1rem auto;
}
.main-text {
    margin: 1rem auto;
}
section {
    margin-bottom: 1rem;
}
pre {
    padding: 0.5rem;
    background-color: rgb(36, 36, 36);
    height: fit-content;
    width: fit-content;
    font-size: .8rem;
    margin: 1rem auto;
    
}
pre code {
    color: rgb(245, 245, 245);
    font-family: 'Courier New', Courier, monospace;
    
}
pre span {
    display: inline;
}
.tag {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(216, 216, 216);
    font-style: normal;
}
.element {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(71, 188, 255);
    font-style: normal;
}
.attribute {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(111, 178, 255);
    font-style: normal;
}
.value {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(252, 151, 0);
    font-style: normal;
    
}
.tab {
    text-indent: 20px;
}
.css-attribute {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 211, 68);
    font-style: normal;
}
.css-value {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.side-to-side {
    width: 100%;
    display: flex;
}
@container content (width < 990px) {
    #game1-holder {
        display: block;
    }
}
@container content (width < 950px){
    #text-to-game {
        display: block;
    }
    #game-link{
        max-width: 200px;
    }
}
.game {
    display: block;
    aspect-ratio: 1 / 1;
    border: 2px solid black;
    background: radial-gradient(rgb(54, 145, 81), black);
}
#game1 {
    display: block;
    width:80%;
    max-width: 500px;
    margin: 0 auto;
}
#game2 {
}
.game-row {
    display: flex;
}
.game-tile {
    border: 1px solid gray;
    box-sizing: border-box;
    margin: auto;
}
.display-text {
    font-size: 0.9rem;
    text-align: center;
}
#game-link {
    text-align: center;
    margin: auto;
    display: block;
    width: 100%;
    padding: .2rem;
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    border: 3px solid rgb(150, 150, 150);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: border 0.3s;
    
}
#game-link:hover {
    border: 3px solid rgb(134, 134, 134);;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
#game-link img {
width: 100%;
margin: auto;
}
#game-link span {
    width: auto;
    text-align: center;
}

#text-to-game p {
    max-width: 600px;
}
#what-next {
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background: linear-gradient(rgb(255, 255, 118), white);
    font-size: 1.3rem;
}