span, p, img {display: block;}
.full {
    grid-column: start / end;
    border-radius: 0px;
}
.center-horizontal {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}
img {
    border-radius: 1rem;
}
.blog-img-span {width: 100%;}
#blog-content {
    margin-top: 1rem;
    grid-column: start / end;
    width: 100%;
    margin: 0px auto;
    height: auto;
    display: block;
    padding: 1rem;
    box-sizing: border-box;
}
.blog-title {
    font-weight: 900;
    font-size: 2.5rem;
    display: block;
}
.blog-date {
    font-size: 1.4rem;
    font-weight: 700;
}
.blog-header {
    margin: 0px 0.5px 0rem 0rem ;
    font-size: 1.7rem;
}
.blog-text {
    font-size: 1.2rem;
}
.text-to-pic img{
    float: right;
}
